<% if @error %>
  <h3><%= @error %></h3>
<%end%>

<% if @tickets %>
  <h1>Your tickets</h1>
    <br>

      <div class="paginator">
      <p>You are on page <%= @current_page %> of <%=@max_page%></p>
      <br>

        <%if @tickets == [] %>
         <p>You have run out of tickets!</p>
         <a href="/tickets?page=<%=1 %>">Start of tickets =></a>
         <br>
         <a href="/tickets?page=<%= @max_page %>">Back to last page =></a>
         <%else%>

          <%if @current_page == 1 %>
            <p>First Page</p>
            <%else%>
              <a href="/tickets?page=<%= @last_page %>">Last Page <= </a>
          <%end%>
          <br>
            <%if @current_page == @max_page %>
                <p>You have reached the end of your ticket list</p>
              <%else%>
              <a href="/tickets?page=<%= @next_page %>">Next Page =></a>
            <%end%>
        <%end%>

      </div>

      <table>
        <thead>
          <tr>
            <th>Ticket List</th>&nbsp;<th>Submitted id</th>
          </tr>
        </thead>

        <tbody>
          <%@tickets.each do |ticket| %>
          <tr>
            <td><a href="/tickets/<%= ticket["id"] %>"><%= ticket["id"] %>&nbsp;<%= ticket["subject"]%></a></td>
            <td><%= ticket["submitter_id"] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
  <%end%>
